@import '/styles/variables.scss';

.common {
    min-width: 100px;
    border-radius: 25px;
    padding: 3px 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.primary-button {
    @extend .common;
    background-color: $primary-color;
}

.dangerous-button {
    @extend .common;
    background-color: $dangerous-color;
}

.second-primary-button {
    @extend .common;
    background-color: $second-primary-color;
}