.experience-section {
    display: flex;
    margin-bottom: 14px;
    ul {
        margin-bottom: 0;
    }
}

.job-intro {
    color: #4a4a4a;
}

.job-title {
    font-weight: 600;
    color: #000000;
}

.duration {
    font-style: italic;
}

.company-name {
    width: 240px;
}