@mixin common-ul {
    padding-left: 14px;
    margin-bottom: 0;
}

.employee-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0px 20px;
    border-bottom: 2px solid #756f6f;
    .name {
        font-size: 26px;
        font-weight: 700;

        & > span:first-child {
            margin-right: 10px;
        }
    }

    .phone{
        font-size: 14px;
        margin-left: 10px;
    }
}

.hightlighs-section {
    ul{
        @include common-ul;
    }
}

.interests-ul {
    @include common-ul;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: none;
}

.additional-info {
    margin: 0px 20px;

    .city-mail {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .links {
        padding-left: 10px;
    }

    a {
        font-size: 30px;
        color: #000000;
        margin-right: 10px;
    }
}
