@import '/styles/variables.scss';

.skill-container {
    margin-top: 20px;
    .item-container {
        display: flex;
        align-items: center;
        .list-common {
            border: 1px solid $primary-color;
            padding: 6px 12px;
            margin-bottom: 5px;
        }
        .list-symbol {
            @extend .list-common;
            border-right: none;
            border-radius: 5px 0px 0px 5px;
            color: $primary-color;
            position: relative;
            &::after {
                position: absolute;
                display: flex;
                align-items: center;
                content: '';
                height: 16px;
                border-right: 1px solid $primary-color;
                right: 0;
                top: calc(50% - 8px);
            }
        }

        .item {
            @extend .list-common;
            width: 100%;
            border-left: none;
            border-radius: 0px 5px 5px 0px;
        }
    }
}