.no-data-row {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
