.template-selection-container {
    label{
        display: block;
        max-width: 21cm;
        margin: 0 auto;
        margin-top: 10px;
        font-weight: 600;
    }

    .selector {
        max-width: 21cm;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    div[class^="styles_download-section"] {
        display: none;
    }
}