.edu-section {
    color: #4a4a4a;
}

.degree-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.degree {
    color: #000000;
    font-weight: 600;
}

.sepreate {
    margin: 0px 5px;
}

.graduation-date {
    font-style: italic;
}