html,
body {
  #__next {
    .header-section{
      justify-content: space-between;
      width: 100%;
      .header-left-section {
        display: flex;
        width: 100%
      }
      .header-right-section {
        display: flex;
      }
    }
  }
}
